<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Resources</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}">
</head>
<body>
    <div class = "top-page">
        <p><a href="/"  style="margin-right: 20px;">Home</a> <a href="/model">Model</a></p>
    </div>
    <h1>About</h1>
    <img src="{{ url_for('static', filename='images/mug.png') }}" class="portrait">
    <p>Here is a page that we haven't figure out what to do with yet</p>
    
    
</body>

</html>
